<!-- app/views/forecasts/index.html.erb -->
<h1>Weather Forecast</h1>

<%= form_tag forecasts_path, method: :post do %>
  <%= label_tag :address, "Enter address:" %>
  <%= text_field_tag :address, params[:address], value: "Jacksonville Beach" %>
  <%= submit_tag "Get Forecast" %>
<% end %>

<%= turbo_frame_tag :weather_results %>
